<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .active {
            background: salmon;
            border: 0;
            padding: 5px;
        }
    </style>
</head>

<body>
    <div id="app">
        <header>this is header</header>

        <hr>
        <p>{{ name }}</p>
        <p>{{ name.toUpperCase() + ' String 2' }}</p>
        <p v-once>{{ name }} (using v-once)</p> <!-- attribute to restrict any change in this element -->
        <p>{{ 1+1 }}</p>
        <p>{{ isActive ? 'this is true' : 'this is false' }}</p>
        <p>{{ getName() }}</p>

        <hr>
        <p>{{ grandTotal }}</p>
        <p>{{ fullName }}</p>
        <p>{{ number }}</p>
        <p>Bilangan ini adalah {{ numberInfo }}</p>

        <hr>
        <p v-text="name.toUpperCase()"></p>
        <p v-text="number*5"></p>
        <p v-text="link"></p>
        <p v-html="link"></p>

        <hr>
        <img v-bind:src="imgSrc" alt="Logo" width="50">
        <img :src="imgSrc" alt="Logo" width="50">

        <hr>
        <p>
            <button v-on:click="onClick()">Ditekan</button>
        </p>
        <p>
            <button @click="onClick()">Ditekan 2</button>
        </p>

        <hr>
        <button v-on:click="menu = 'home'" v-bind:class="{active:menu === 'home'}">Home</button>
        <button v-on:click="menu = 'about'" v-bind:class="{active:menu === 'about'}">About</button>
        <button v-on:click="menu = 'blog'" v-bind:class="{active:menu === 'blog'}">Blog</button>

        <hr>
        <p>
            <input type="text" v-model="name">
        </p>
        <p>{{ programming_language }}</p>
        <div>
            <label><input type="checkbox" value="React" v-model="programming_language">React</label>
            <label><input type="checkbox" value="Vuejs" v-model="programming_language">Vuejs</label>
            <label><input type="checkbox" value="Angular" v-model="programming_language">Angular</label>
        </div>

        <hr>
        <footer>this is footer</footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
        // const member = {
        //     // string, number, boolean, array object
        //     name: 'nama 1',
        //     message: 'pesan 1',
        //     isActive: true
        // }

        const vm = new Vue({
            el: '#app',
            data: {
                // string, number, boolean, array, object
                name: 'nama 1',
                message: 'pesan 1',
                isActive: true,
                qty: 3,
                firstName: 'Rizkika',
                lastName: 'Palindungan',
                number: 1,
                link: '<a href="">kelas Vue JS</a>',
                imgSrc: 'images/star.png',
                menu: 'home',
                programming_language: []
            },
            methods: {
                getName: function () {
                    return 'Hello, ' + this.name
                },
                changeName: function (nameNew) {
                    this.name = nameNew
                    return this.getName()
                },
                onClick: function () {
                    this.number++
                    this.imgSrc = 'images/sun.png'
                }
            },
            computed: {
                grandTotal: function () {
                    return this.qty * 10000
                },
                fullName: function () {
                    return this.firstName + ' ' + this.lastName
                },
                numberInfo: function () {
                    return this.number % 2 === 0 ? 'Genap' : 'Ganjil'
                }
            }
        })
    </script>
</body>

</html>